.chat {
    display: none;
    flex:1;
    flex-direction: column;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    background-color: rgba(31, 46, 135, 0.4);

    &.active {
        display: flex;
    }

    .chatTop {
        padding: 5px 10px;
        position: relative;
        border-bottom: 1px solid #dddddd35;
        background-color: rgba(31, 46, 135, 0.6);
        cursor: pointer;

        .anotherUserInfo {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .backButton {
            visibility: hidden;
            position: absolute;
            top: 50%;
            left: 40px;
            font-size: 30px;
            padding: 0;
            margin: 0; 
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
    }

    .chatCenter {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-x: hidden;
        scrollbar-color: rgba(57, 83, 131, 0.5) transparent;
        height: 100%;

        .message {
            max-width: 90%;
            display: flex;
            gap: 20px;

            .anotherUserChatAvatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            .messageText {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 5px;

                .filesAttachmentContainer {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }


                .mediaAttachmentContainer {
                    display: flex;
                    gap: 5px;
                }

                p {
                    margin: 0;
                    padding: 8px 12px;
                    background-color: rgba(57, 83, 131, 0.3);
                    border-radius: 10px;
                }

                span {
                    font-size: 13px;
                    color: #a5a5a5;
                }
            }

            &.own {
                align-self: flex-end;

                .messageText p {
                    background-color: #5183fe;
                }
            }
        }

    }

    .chatBottom {
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        border-top: 1px solid #dddddd35;
        

        input {
            width: 100%;
            background-color: rgba(57, 83, 131, 0.5);
            border: none;
            outline: none;
            color: white;
            padding: 8px;
            border-radius: 10px;
            font-size: 16px;
        }

        .attachmentsControl {
            display: flex;
            gap: 10px;
            position: relative;

            .attachmentsMenu {
                position: absolute;
                bottom: 100%;
                background: rgba(57, 83, 131, 0.9);
                border-radius: 8px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                min-width: 150px;
    
                .attachmentOption {
                    display: flex;
                    gap: 8px;
                    padding: 8px;
                    cursor: pointer;

                    span {
                        color: white;
                        font-size: 14px;
                    }

                    &:hover {
                        background-color: rgba(81, 131, 254, 0.3);
                        border-radius: 8px;
                    }
                }
    
            }
        }

        .emojiContainer {
            position: relative;
            .emojiPicker {
                position: absolute;
                bottom: 50px;
                height: 300px !important;
                width: 300px !important;
                right: 0;
                z-index: 2;
            }
        }

        .sendMessageButton {
            background-color: #5183fe;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
                background-color: #4169e1;
            }
        }
    }

    .icon {
        font-size: 25px;
        cursor: pointer;
    }
}

@media (max-width: 1140px) {
    .chat {
        &.withOpenMenu {
            &.active {
                display: flex;
            }
    
            .chatTop{
                .backButton {
                    visibility: visible;
                }
            }
        }
        
    }
}

@media (max-width: 940px) {
    .chat {
        &.active {
            display: flex;
        }

        .chatTop{
            .backButton {
                visibility: visible;
            }
        }
    }
}