.chat-details {
    flex: 1;
    .user {
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid #dddddd35;

        .user-chat-avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .info {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .option {
            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .icon {
                    font-size: 20px;
                    background-color: rgba(57, 83, 131, 0.3);
                    padding: 2px;
                    border-radius: 50%;
                    cursor: pointer;
                }

            }
        }

        .photos {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .photo-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .photo-detail {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 5px;
                        object-fit: cover;;
                    }
                }
                .download-icon {
                    font-size: 20px;
                    background-color: rgba(57, 83, 131, 0.3);
                    padding: 2px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
    }
}