.chatList {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin; 
    scrollbar-color: rgba(57, 83, 131, 0.5) transparent; 
    scrollbar-gutter: stable;

    &::-webkit-scrollbar-button {
        display: none;
        width: 0;
        height: 0;
    }

    .searchContainer {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;

        .searchBar{
            display: flex;
            width: 100%;
            background-color: rgba(57, 83, 131, 0.5);
            gap: 5px;
            border-radius: 10px;
            padding: 5px;

            input {
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
            }

            .searchIcon {
                font-size: 20px;
            }
        }
        .addUserIcon {
            font-size: 25px;
            background-color: rgba(57, 83, 131, 0.5);
            padding: 2px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .chatItem{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 5px;
        cursor: pointer;
        border-bottom: 1px solid #dddddd35;

        .anotherUserAvatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .chatItemText {
        display: flex;
        flex-direction: column;
        gap: 10px;
    
        p {
            font-size: 14px;
        }

        span, p {
            margin: 0;
            font-weight: 500;
        }
    }
}