.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  
  .modal input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
  }
  
  .modal button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #8560be;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal button:hover {
    background-color: #674f99;
  }
  