.footer {
  background-color: #200055; 
  color: white;
  padding: 40px 20px;
  text-align: center;
  border-top: 3px solid #8560be; 
}

.footerContent {
  max-width: 800px;
  margin: 0 auto;
}

.footerText {
  font-size: 14px;
  color: #819198; 
}

.socialLinks {
  margin: 20px 0;
}

.link {
  color: #6d3fd3;
  font-size: 16px;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.link:hover {
  color: #8560be; 
}

@media (max-width: 768px) {
  .footerContent {
    padding: 0 20px;
  }

  .footerText {
    font-size: 12px;
  }

  .link {
    font-size: 14px;
    margin: 0 5px;
  }
}
