body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  min-width: 600px;
  overflow-x: hidden;
  .main-content {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .main-content {
    min-height: 110vh;
  }
}


